USE [master]
GO
/****** Object:  Database [UsersAwardsDB]    Script Date: 23.02.2020 14:01:06 ******/
CREATE DATABASE [UsersAwardsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UsersAwardsDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\UsersAwardsDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UsersAwardsDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\UsersAwardsDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UsersAwardsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UsersAwardsDB]
GO
/****** Object:  Table [dbo].[Award]    Script Date: 23.02.2020 14:01:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Award](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[image] [varbinary](max) NULL,
 CONSTRAINT [PK_Award] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 23.02.2020 14:01:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User1]    Script Date: 23.02.2020 14:01:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User1](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[dob] [datetime] NOT NULL,
	[image] [varbinary](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAward]    Script Date: 23.02.2020 14:01:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAward](
	[id_user] [int] NULL,
	[id_award] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visitor]    Script Date: 23.02.2020 14:01:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visitor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](20) NOT NULL,
	[password] [nvarchar](16) NOT NULL,
	[id_role] [int] NULL,
 CONSTRAINT [PK_Visitor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Award] ON 

INSERT [dbo].[Award] ([id], [name], [image]) VALUES (26, N'Best Voice', NULL)
SET IDENTITY_INSERT [dbo].[Award] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([id], [name]) VALUES (1, N'user')
INSERT [dbo].[Role] ([id], [name]) VALUES (2, N'admin')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[User1] ON 

INSERT [dbo].[User1] ([id], [name], [dob], [image]) VALUES (1, N'Vasya', CAST(N'2001-01-01T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[User1] ([id], [name], [dob], [image]) VALUES (41, N'John', CAST(N'1992-02-04T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[User1] OFF
INSERT [dbo].[UserAward] ([id_user], [id_award]) VALUES (2, 24)
INSERT [dbo].[UserAward] ([id_user], [id_award]) VALUES (2, 25)
INSERT [dbo].[UserAward] ([id_user], [id_award]) VALUES (41, 25)
SET IDENTITY_INSERT [dbo].[Visitor] ON 

INSERT [dbo].[Visitor] ([id], [login], [password], [id_role]) VALUES (1, N'user1', N'user1', 1)
INSERT [dbo].[Visitor] ([id], [login], [password], [id_role]) VALUES (2, N'admin3', N'admin3', 2)
INSERT [dbo].[Visitor] ([id], [login], [password], [id_role]) VALUES (5, N'user', N'user', 1)
SET IDENTITY_INSERT [dbo].[Visitor] OFF
/****** Object:  Index [IX_UserAward]    Script Date: 23.02.2020 14:01:07 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserAward] ON [dbo].[UserAward]
(
	[id_user] ASC,
	[id_award] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Visitor]    Script Date: 23.02.2020 14:01:07 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Visitor] ON [dbo].[Visitor]
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserAward]  WITH CHECK ADD  CONSTRAINT [FK_UserAward_Award] FOREIGN KEY([id_award])
REFERENCES [dbo].[Award] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAward] CHECK CONSTRAINT [FK_UserAward_Award]
GO
ALTER TABLE [dbo].[UserAward]  WITH CHECK ADD  CONSTRAINT [FK_UserAward_User] FOREIGN KEY([id_user])
REFERENCES [dbo].[User1] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAward] CHECK CONSTRAINT [FK_UserAward_User]
GO
ALTER TABLE [dbo].[Visitor]  WITH CHECK ADD  CONSTRAINT [FK_Visitor_Role] FOREIGN KEY([id_role])
REFERENCES [dbo].[Role] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Visitor] CHECK CONSTRAINT [FK_Visitor_Role]
GO
/****** Object:  StoredProcedure [dbo].[AddAward]    Script Date: 23.02.2020 14:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddAward]
	@Name nvarchar(50),
	@Img varbinary(max)=null,
	@Id INT OUTPUT
AS
BEGIN
	INSERT INTO Award (name,image)
	Values(@Name,@Img)

	set @Id = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 23.02.2020 14:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddUser]
	@Name nvarchar(50),
	@Dob DateTime,
	@Img varbinary(max)=null,
	@Id INT OUTPUT

AS
BEGIN
	INSERT INTO User1 (name,dob,image)
	VALUES (@Name,@Dob,@Img)

	set @Id = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[AddVisitor]    Script Date: 23.02.2020 14:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddVisitor]
	@Login nvarchar(20),
	@Password nvarchar(16),
	@RoleId int=null,
	@Id int OUTPUT
AS
BEGIN
	INSERT INTO Visitor(login,password,id_role)
	VALUES (@Login, @Password, @RoleId)
	
	set @Id = SCOPE_IDENTITY();

END
GO
/****** Object:  StoredProcedure [dbo].[GetAllAwards]    Script Date: 23.02.2020 14:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllAwards]
AS
BEGIN
	SELECT id, name, image FROM Award
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllUserAward]    Script Date: 23.02.2020 14:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllUserAward]
AS
BEGIN
	SELECT id_user, id_award FROM UserAward
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllUsers]    Script Date: 23.02.2020 14:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllUsers]
AS
BEGIN
	SELECT id, name, dob,image FROM User1
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllVisitors]    Script Date: 23.02.2020 14:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllVisitors]
AS
BEGIN
	SELECT id,login,password,id_role FROM Visitor
END
GO
/****** Object:  StoredProcedure [dbo].[GetAwardById]    Script Date: 23.02.2020 14:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAwardById]
	@Id int
AS
BEGIN
	SELECT id, name, image FROM Award
	WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[GetRoleById]    Script Date: 23.02.2020 14:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRoleById]
	@Id int
AS
BEGIN
	SELECT id, name FROM Role
	WHERE id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserById]    Script Date: 23.02.2020 14:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserById] 
	@Id int
AS
BEGIN
	SELECT id, name, dob, image FROM User1
	WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[GetVisitorById]    Script Date: 23.02.2020 14:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetVisitorById] 
	@Id int
AS
BEGIN
	SELECT id, login, password, id_role FROM Visitor
	WHERE id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[GetVisitorByLogin]    Script Date: 23.02.2020 14:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetVisitorByLogin] 
	@Login nvarchar(20)
AS
BEGIN
	SELECT id, login, password, id_role FROM Visitor
	WHERE login = @Login
END
GO
/****** Object:  StoredProcedure [dbo].[GiveUserAward]    Script Date: 23.02.2020 14:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GiveUserAward]
	@UserId int,
	@AwardId int
AS
BEGIN
	INSERT INTO UserAward (id_user,id_award)
	Values (@UserId,@AwardId)
END
GO
/****** Object:  StoredProcedure [dbo].[GiveVisitorRole]    Script Date: 23.02.2020 14:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GiveVisitorRole]
	@VisitorId int,
	@RoleId int OUTPUT
AS
BEGIN
	UPDATE Visitor
	SET id_role = @RoleId
	WHERE id = @VisitorId
END
GO
/****** Object:  StoredProcedure [dbo].[RemoveAwardById]    Script Date: 23.02.2020 14:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RemoveAwardById]
	@Id int
AS
BEGIN
	DELETE FROM Award
	WHERE id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[RemoveUserAward]    Script Date: 23.02.2020 14:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RemoveUserAward]
	@UserId int,
	@AwardId int
AS
BEGIN
	DELETE FROM UserAward
	WHERE id_user = @UserId AND id_award = @AwardId
END
GO
/****** Object:  StoredProcedure [dbo].[RemoveUserById]    Script Date: 23.02.2020 14:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RemoveUserById]
	@Id int
AS
BEGIN
	DELETE FROM User1
	WHERE id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateAward]    Script Date: 23.02.2020 14:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateAward]
	@Id int,
	@Name nvarchar(50),
	@Img varbinary(max)= null
AS
BEGIN
	UPDATE Award
	SET name = @Name, image = @Img
	WHERE id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 23.02.2020 14:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUser]
	@Id int,
	@Name nvarchar(50),
	@Dob DateTime,
	@Img varbinary(max)= null
AS
BEGIN
	UPDATE User1
	SET name = @Name, dob = @Dob, image = @Img
	WHERE id = @Id
END
GO
USE [master]
GO
