body {
}
.panel_template {
    padding: 5px;
    border: 2px solid lightgray;
    border-radius: 5px;
    margin: auto;
}
.cntrl_panel label {
    text-align: left;
}
td > img {
    cursor: pointer;
}
table {
    border: 2px lawngreen solid;
    border-radius: 3px;
}
h1 {
    text-align: center;
}
.cntrl_panel btn {
    margin: auto;
}
.myalert {
    margin: 10px 0 0 0;
}
.hiden {
    display: none;
}
table ol {
    list-style-type: none;
    font-weight: lighter;
    font-size: 12px;
}
.userAwardRemoving {
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.editUserBtn {
    width: 32px;
    height: 32px;
}
.delUserBtn {
    width: 32px;
    height: 32px;
}
.table > tbody > tr > td {
}