<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="DestFolder" value="C:\test1\dataStorage"/>
    <add key="NameUserFile" value="user.json"/>
    <add key="NameUserAwardRelFile" value="userAwardRels.json"/>
    <add key="NameAwardFile" value="award.json"/>
    <add key="NameVisitorFile" value="visitor.json"/>
    <add key="NameRolesFile" value="roles.json"/>
  </appSettings>
  <connectionStrings>
    <add name="SQLConnectionString" connectionString="Data Source=DESKTOP-RQMM26H\SQLEXPRESS;Initial Catalog=UsersAwardsDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>