<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Page.Tittle</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/styles.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div style="margin: 100px auto; max-width: 1000px;">
    @RenderBody()
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
</body>
</html>
