@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
<div style="margin: 40px auto; font-family: Segoe UI; text-align: center">
    <h1>Wrong Login/Password</h1>
    <a href="RegistrationPage.cshtml">Registration</a>
    <a href="LogInPage.cshtml">Log In</a>
    <a href="Users.cshtml">Users</a>
</div>
</body>
</html>
